body {
    font-family: "Karla",sans-serif;
    margin: 0;
    background-color: #A6A57A;
}

main {
    padding: 36px;
}

.App {
    width: 550px;
    margin: auto;
    margin-top: 20px;
    background-color: seashell;
    border-radius: 5px;
    box-shadow: 1px 3px 4px 8px grey;
}

.header--box{
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: seashell;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header--logo {
    height: 26px;
    margin-right: 6px;
}

.header--title {
    font-size: 21px;
    margin-right: auto;
}

.header--project {
    font-size: 12;
}

.form--inputBox {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 18px;
}

.form--input {
    font-family: "Karla",sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1/-1;
    font-family: "Karla",sans-serif;
    border-radius: 5px;
    color: seashell;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: none;
    cursor: pointer;

}

.form--image {
    margin-top: 10px;
    max-width: 100%;
}


.form--meme {
    position: relative;
}

.form--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}